<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0979d">  <td>21/09/20 19:26:21</td>   <td>0</td> <td title="&gt;&gt;Home.extent()[pri:0, instance:pageobj.Home@50a638b5]">&gt;&gt;extent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 19:26:21</td>   <td>121</td> <td>&nbsp;</td><td title="&gt;&gt;Home.setup()[pri:0, instance:pageobj.Home@50a638b5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 19:26:33</td>   <td>11671</td> <td title="&lt;&lt;Home.extentend()[pri:0, instance:pageobj.Home@50a638b5]">&lt;&lt;extentend</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 19:26:28</td>   <td>7504</td> <td>&nbsp;</td><td title="&lt;&lt;Home.teardown()[pri:0, instance:pageobj.Home@50a638b5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 19:26:23</td>   <td>1788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.google()[pri:0, instance:pageobj.Home@50a638b5]">google</td> 
  <td>main@609962972</td>   <td></td> </tr>
</table>
