<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.google()[pri:0, instance:pageobj.Home@1139b2f3]">google</td> 
  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:23</td>   <td>-6114</td> <td title="&gt;&gt;Home.extent()[pri:0, instance:pageobj.Home@1139b2f3]">&gt;&gt;extent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:25</td>   <td>-4249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.amazon()[pri:0, instance:pageobj.Home@1139b2f3]">amazon</td> 
  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:29</td>   <td>69</td> <td>&nbsp;</td><td title="&lt;&lt;Home.teardown()[pri:0, instance:pageobj.Home@1139b2f3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:23</td>   <td>-5980</td> <td>&nbsp;</td><td title="&gt;&gt;Home.setup()[pri:0, instance:pageobj.Home@1139b2f3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="e0979d">  <td>21/09/20 15:39:29</td>   <td>224</td> <td title="&lt;&lt;Home.extentend()[pri:0, instance:pageobj.Home@1139b2f3]">&lt;&lt;extentend</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
